/*.autosave
/EasyRPG-Editor.pro.user
bin
*.o
/Makefile
/moc_*
/qrc_*
/ui_*
/EasyRPG-Editor
/libs/liblcf/*
/templates/Player.exe
/debug
/release
Makefile.Debug
Makefile.Release
/libs/liblcf
/libs/liblcf/*
/libs/liblcf/*
/libs/liblcf/*
/libs/liblcf/*
/libs/liblcf/*.yml
/libs/liblcf/*
/libs/liblcf/*.sh
/libs/liblcf/*.ac
/libs/liblcf/*
/libs/liblcf/*.py
/libs/liblcf/*.am
/libs/liblcf/*
/libs/liblcf/*
/libs/liblcf/*
