/*.autosave
/*.user
/*.user.*
*.o
/moc_*
/qrc_*
/ui_*
EasyRPG-Editor
easyrpg-editor
/libs/liblcf/*
/debug
/release
Makefile*
.qmake.stash
/.project
*_autogen/
/bin/templates/Player.exe
/bin/*.app
/bin/*.dll
/bin/*.exe
/bin/*.manifest
/bin/*.rc
/bin/*.ilk
/bin/*.pdb
/bin/*.lib
/bin/*.exp
/bin/*.res
/bin/platforms
*.cbp

# flatpak
/.flatpak-builder

# liblcf
lib/liblcf

# CMake
/bin/EasyRPG_Editor
*.a
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*automoc.cpp
.cmake/
cmake-build-*/

# Ninja
*.ninja
.ninja*

# CLion
.idea

# Visual Studio Code
.vscode/

# Mac
.DS_Store
