/*.autosave
/EasyRPG-Editor.pro.user
/*.user.*
*.o
/Makefile
/moc_*
/qrc_*
/ui_*
/EasyRPG-Editor
/libs/liblcf/*
/debug
/release
Makefile.Debug
Makefile.Release
.qmake.stash
/libs/liblcf
/.project
/bin/templates/Player.exe
/bin/*.app
/bin/*.dll
/bin/*.exe
/bin/*.manifest
/bin/*.rc
/bin/*.ilk
/bin/*.pdb
/bin/platforms
/bin/EasyRPG-Editor
